/* You can add global styles to this file, and also import other style files */

:root {
  --primary-bg-color: rgb(36, 36, 36); /* #203040; */
  --secondary-bg-color: #ffffff; /* #ff8000; */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

input,
textarea {
  font-family: inherit;
}
::-webkit-input-placeholder {
  font-family: inherit;
}
:-moz-placeholder {
  font-family: inherit;
}
::-moz-placeholder {
  font-family: inherit;
}
:-ms-input-placeholder {
  font-family: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}
