:root {
  --primary-bg-color: #242424;
  --secondary-bg-color: #ffffff;
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --validation-error-color: #dc3545;
  --validation-success-color: #28a745;
  --submit-form-btn-color: #ffce00;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.6rem;
}

textarea {
  resize: vertical;
}

input,
textarea {
  font-family: inherit;
}
::-webkit-input-placeholder {
  font-family: inherit;
}
:-moz-placeholder {
  font-family: inherit;
}
::-moz-placeholder {
  font-family: inherit;
}
:-ms-input-placeholder {
  font-family: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

/* Forms */

.form-container {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 350px;
  box-sizing: border-box;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  list-style-type: none;
  padding: 1em 2.5em;
}

.form label {
  font-weight: 700;
}

.form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
}

.form input,
textarea {
  padding: 0.75em;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  margin-bottom: 0.75em;
  outline-color: #b6d4fe;
}

.form li:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-heading {
  margin: 0.5em 0;
}

.form li:last-child {
  padding-top: 1em;
}

.submit-form-btn {
  cursor: pointer;
  background-color: var(--submit-form-btn-color);
  border: 1.5px #808080 solid;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.75em;
}

.submit-form-btn:hover {
  border: 1.5px #252525 solid;
  border-radius: 5px;
}

.input-error-msg {
  font-size: 1.4rem;
  color: var(--validation-error-color);
}

.has-error {
  border: 1px solid var(--validation-error-color) !important;
  outline-color: var(--validation-error-color) !important;
}

.has-success {
  border: 1px solid var(--validation-success-color) !important;
  outline-color: var(--validation-success-color) !important;
}

.form-msg-loading {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
  border: 1px solid transparent;
  padding: 0.5em 0.75em;
  margin-bottom: 0.75em;
}
.form-msg-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  padding: 0.5em 0.75em;
  margin-bottom: 0.75em;
}

.form-msg-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  border: 1px solid transparent;
  padding: 0.5em 0.75em;
  margin-bottom: 0.75em;
}

@media screen and (max-width: 576px) {
  .form {
    padding: 1em 1.5em;
  }
}
