<section class="categories" *ngIf="categories$ | async as categories">
  <carousel [width]="width" [height]="299" *ngIf="categories.length > 0">
    <div
      class="carousel-cell"
      *ngFor="let category of categories | sortOptionsAlphabetically"
    >
      <app-category-card [category]="category"></app-category-card>
    </div>
  </carousel>
</section>
<section class="featured-category" id="shoes">
  <a [routerLink]="['/products/filter']" [queryParams]="{ category: 'shoes' }"
    ><button>Shop Now</button></a
  >
</section>
<section class="featured-category" id="tshirts">
  <a
    [routerLink]="['/products/filter']"
    [queryParams]="{ category: 't-shirts' }"
  >
    <button>Shop Now</button>
  </a>
</section>
