<app-loading-spinner
  *ngIf="productLoading$ | async; else loaded"
></app-loading-spinner>
<ng-template #loaded>
  <div class="selected-product-container" *ngIf="product$ | async as product">
    <div class="selected-product-image">
      <img src="{{ product.img }}" alt="" />
    </div>
    <div class="selected-product-details">
      <h2 class="selected-product-name">{{ product.name }}</h2>
      <div class="selected-product-brand mb-25">by {{ product.brand }}</div>
      <div class="selected-product-price mb-25">€{{ product.price }}</div>
      <div class="selected-product-colour mb-25">
        <span>Colour: </span>{{ product.colour }}
      </div>
      <div class="mb-25">
        <label
          for="selected-product-qty"
          class="selected-product-qty-label mb-25"
        >
          Quantity:
        </label>
        <select
          *ngIf="product.countInStock > 0; else outOfStock"
          [ngModel]="selectedValue"
          (ngModelChange)="onSelectedChange($event)"
          name="selected-product-qty"
          id="selected-product-qty"
        >
          <option
            *ngFor="
              let item of createOptionsArray(product.countInStock);
              let index = index
            "
          >
            {{ index + 1 }}
          </option>
        </select>
        <ng-template #outOfStock>
          <span>Out of Stock</span>
        </ng-template>
      </div>
      <button
        [routerLink]="['/cart', id]"
        [queryParams]="{ qty: selectedValue }"
        [state]="{ prevPage: true }"
        [disabled]="product.countInStock === 0"
        class="add-to-basket mb-25"
      >
        Add to Basket
      </button>
    </div>
    <div class="selected-product-description">
      <h3>Description</h3>
      <p>{{ product.description }}</p>
    </div>
  </div>
</ng-template>
