<div class="form-container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <ul class="form">
      <li>
        <h2>Register</h2>
      </li>
      <li>
        <div *ngIf="error$ | async as error">{{ error }}</div>
        <div *ngIf="loading$ | async as loading">Loading...</div>
      </li>
      <li>
        <label for="name">Name</label>
      </li>
      <li>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          [(ngModel)]="name"
        />
      </li>
      <li>
        <label for="email">Email</label>
      </li>
      <li>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          [(ngModel)]="email"
        />
      </li>
      <li>
        <label for="password">Password</label>
      </li>
      <li>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          [(ngModel)]="password"
        />
      </li>
      <li>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
        />
      </li>
      <li>
        <button type="submit" class="submit-form-btn">Register</button>
      </li>
    </ul>
  </form>
</div>
