.form-container {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 350px;
  box-sizing: border-box;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  list-style-type: none;
  padding: 1em 2em;
}

.form label {
  font-weight: 700;
}

.form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75em;
}

.form input {
  padding: 0.75em;
  border: 1px #c0c0c0 solid;
  border-radius: 5px;
  margin-bottom: 0.75em;
  outline-color: #b6d4fe;
}

.form li:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-heading {
  margin: 0.5em 0;
}

.form li:last-child {
  padding-top: 1em;
}

.form-status {
  color: var(--validation-error-color);
}

.submit-form-btn {
  cursor: pointer;
  background-color: rgb(255, 206, 0);
  border: 1.5px #808080 solid;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.75em;
}

.submit-form-btn:hover {
  border: 1.5px #252525 solid;
  border-radius: 5px;
}

.create-account-btn {
  align-self: center;
  background-color: #ebe7e7;
  border: 1.5px #808080 solid;
  border-radius: 5px;
  -moz-outline-radius: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.75em;
}

.form li:last-child div {
  margin-bottom: 0.75em;
}

.create-account-btn:hover {
  border: 1.5px #252525 solid;
  border-radius: 5px;
}

.has-error {
  border: 1px solid var(--validation-error-color) !important;
  outline-color: var(--validation-error-color) !important;
}

.has-success {
  border: 1px solid var(--validation-success-color) !important;
  outline-color: var(--validation-success-color) !important;
}

.input-error-msg {
  font-size: 1.4rem;
  color: var(--validation-error-color);
}
