<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <ul class="form">
      <li>
        <h2 class="form-heading">Login</h2>
      </li>
      <li class="form-status">
        <div *ngIf="error$ | async as error">{{ error }}</div>
        <div *ngIf="loading$ | async as loading">Loading...</div>
      </li>
      <li>
        <label for="email">Email</label>
      </li>
      <li>
        <input
          type="email"
          name="email"
          id="email"
          [class.has-error]="emailControl.invalid && emailControl.touched"
          [class.has-success]="emailControl.valid"
          placeholder="Email"
          [(ngModel)]="email"
          required
          email
          #emailControl="ngModel"
        />
        <span
          class="input-error-msg"
          *ngIf="emailControl.value?.length === 0 && emailControl.touched"
          >Email is required</span
        >
        <span
          class="input-error-msg"
          *ngIf="
            emailControl.value?.length > 0 &&
            emailControl.invalid &&
            emailControl.touched
          "
          >Input must be a valid email</span
        >
      </li>
      <li>
        <label for="password">Password</label>
      </li>
      <li>
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
          [class.has-error]="passwordControl.invalid && passwordControl.touched"
          [class.has-success]="passwordControl.valid"
          placeholder="Password"
          [(ngModel)]="password"
          required
          #passwordControl="ngModel"
        />
        <span
          class="input-error-msg"
          *ngIf="passwordControl.invalid && passwordControl.touched"
          >Password is required</span
        >
      </li>
      <li>
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="submit-form-btn"
        >
          Login
        </button>
      </li>
      <li>
        <div>New to Ecom?</div>
        <a routerLink="/register">
          <button class="create-account-btn">Create an Account</button>
        </a>
      </li>
    </ul>
  </form>
</div>
