.management-container {
  padding: 2.5em;
}

.management-container h1 {
  margin-bottom: 1em;
}

.management-section {
  margin-bottom: 3em;
}

.table-container {
  overflow-y: auto;
  max-height: 600px;
}

.management-table {
  width: 100%;
  border: 1px solid #203040;
}

.management-table,
.filters-table,
th,
td {
  border-right: 1px solid #203040;
  border-left: 1px solid #203040;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #203040;
  color: #fdfbfb;
}

tr:nth-child(2n) {
  background: #dbdbdb;
}

th {
  position: sticky;
  top: 0;
  z-index: 2;
}

th,
td {
  padding: 0.5em;
}

.products-list-actions button {
  width: 60px;
}

.edit-product-btn {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.delete-product-btn {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.open-modal {
  background-color: #ffce00;
  border: 1.5px #808080 solid;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 0.75em;
  margin-bottom: 3em;
}

.open-modal:hover {
  border: 1.5px #252525 solid;
  border-radius: 5px;
}

#open-product-modal {
  margin-right: 2em;
}

.close-modal-btn {
  align-self: flex-start;
  padding: 0.25em;
  font-weight: bold;
  font-size: 2.8rem;
  background-color: transparent;
  border: none;
  opacity: 0.7;
}

.close-modal-btn:hover {
  opacity: 1;
}

.cancel-modal-btn {
  cursor: pointer;
  background-color: #dbd8d8;
  border: 1.5px #808080 solid;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.75em;
  margin-top: 1em;
}

.cancel-modal-btn:hover {
  border: 1.5px #252525 solid;
  border-radius: 5px;
}

/* Filters modal */

.filters-table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -1.5em 0 0 0; /* Creates margin between tables when items wrap */
}

.filters-table-container > * {
  margin-top: 1.5em;
}

.filters-table {
  width: 30%;
  min-width: 250px;
  max-width: 375px;
  border: 1px solid #203040;
}

.delete-filters-container {
  width: 75px;
}

@media only screen and (max-width: 768px) {
  /* Force table to not be like tables anymore */
  .management-table,
  .management-table thead,
  .management-table tbody,
  .management-table th,
  .management-table td,
  .management-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .management-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .management-table tr {
    border: 1px solid #dbdbdb;
  }

  .management-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    overflow-x: auto;
  }

  .management-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 0.5em;
    white-space: nowrap;
  }

  /* Label the management */
  .products-table td:nth-of-type(1):before {
    content: "ID";
    font-weight: 700;
  }
  .products-table td:nth-of-type(2):before {
    content: "Name";
    font-weight: 700;
  }
  .products-table td:nth-of-type(3):before {
    content: "Price (€)";
    font-weight: 700;
  }
  .products-table td:nth-of-type(4):before {
    content: "Category";
    font-weight: 700;
  }
  .products-table td:nth-of-type(5):before {
    content: "Brand";
    font-weight: 700;
  }
  .products-table td:nth-of-type(6):before {
    content: "Action";
    font-weight: 700;
  }

  .users-table td:nth-of-type(1):before {
    content: "ID";
    font-weight: 700;
  }
  .users-table td:nth-of-type(2):before {
    content: "Name";
    font-weight: 700;
  }
  .users-table td:nth-of-type(3):before {
    content: "Email";
    font-weight: 700;
  }
  .users-table td:nth-of-type(4):before {
    content: "Admin";
    font-weight: 700;
  }
  .users-table td:nth-of-type(5):before {
    content: "Actions";
    font-weight: 700;
  }

  .orders-table td:nth-of-type(1):before {
    content: "Order ID";
    font-weight: 700;
  }
  .orders-table td:nth-of-type(2):before {
    content: "Date";
    font-weight: 700;
  }
  .orders-table td:nth-of-type(3):before {
    content: "User ID";
    font-weight: 700;
  }
  .orders-table td:nth-of-type(4):before {
    content: "Total (€)";
    font-weight: 700;
  }
  .orders-table td:nth-of-type(5):before {
    content: "Paid";
    font-weight: 700;
  }
  .orders-table td:nth-of-type(6):before {
    content: "Actions";
    font-weight: 700;
  }
}

@media screen and (max-width: 576px) {
  .management-table td {
    padding-left: 35%;
  }

  .management-table td:before {
    width: 30%;
  }

  .filters-table-container {
    justify-content: center;
  }
}
