<div class="page-not-found-container">
  <h1>
    4<svg width="120" height="120">
      <circle
        cx="60"
        cy="65"
        r="50"
        stroke="black"
        stroke-width="4"
        fill="white"
      />
      <line x1="40" y1="40" x2="50" y2="50" stroke="black" stroke-width="5" />
      <line x1="50" y1="40" x2="40" y2="50" stroke="black" stroke-width="5" />
      <line x1="70" y1="40" x2="80" y2="50" stroke="black" stroke-width="5" />
      <line x1="80" y1="40" x2="70" y2="50" stroke="black" stroke-width="5" />
      <path class="mouth" d="M 35 90 C 50 75, 70 75, 85 90" /></svg
    >4
  </h1>
  <h2 class="page-not-found">Page Not Found</h2>
  <p>The page you are looking for does not exist or an error occured.</p>
  <p>Return to <a routerLink="/">Home Page</a></p>
</div>
