<section class="filter-products">
  <h1>Search Products</h1>
  <h2 *ngIf="searchQuery" class="search-query-heading">
    Your search results for "{{ searchQuery }}"
  </h2>
  <form #searchFilterForm="ngForm" class="search-filters">
    <select
      (change)="submitForm(searchFilterForm.value)"
      name="sortby"
      [(ngModel)]="sortBySelected"
    >
      <option value="">Sort By</option>
      <option value="-1">Price - Low to High</option>
      <option value="1">Price - High to Low</option>
    </select>
    <select
      (change)="submitForm(searchFilterForm.value)"
      name="category"
      *ngIf="categories$ | async as categories"
      [(ngModel)]="categorySelected"
    >
      <option value="">Product Category</option>
      <option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </option>
    </select>
    <select
      (change)="submitForm(searchFilterForm.value)"
      name="brand"
      *ngIf="brands$ | async as brands"
      [(ngModel)]="brandSelected"
    >
      <option value="">Brand</option>
      <option *ngFor="let brand of brands" [value]="brand.name">
        {{ brand.name }}
      </option>
    </select>
    <select
      (change)="submitForm(searchFilterForm.value)"
      name="colour"
      *ngIf="colours$ | async as colours"
      [(ngModel)]="colourSelected"
    >
      <option value="">Colour</option>
      <option *ngFor="let colour of colours" [value]="colour.name">
        {{ colour.name }}
      </option>
    </select>
  </form>
</section>
<app-loading-spinner
  *ngIf="productsLoading$ | async; else loaded"
></app-loading-spinner>
<ng-template #loaded>
  <section class="products-list" *ngIf="products$ | async as products">
    <div class="empty-products-list" *ngIf="products.length === 0">
      No products match your search
    </div>
    <ul class="products" *ngIf="products.length > 0">
      <li *ngFor="let product of products">
        <app-product-card [data]="product"></app-product-card>
      </li>
    </ul>
  </section>
</ng-template>
