<header>
  <div class="brand">
    <fa-icon
      [icon]="faBars"
      (click)="toggleMenu()"
      class="open-hamburger-menu"
    ></fa-icon>
    <a routerLink="/">ecom</a>
  </div>
  <div
    [ngClass]="
      searchbarOpen ? 'search-container searchbar-open' : 'search-container'
    "
  >
    <form #navbarSearch="ngForm" (ngSubmit)="submitQueryForm(navbarSearch)">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search for items and brands..."
          name="search"
          [(ngModel)]="searchQuery"
        />
        <button type="submit" class="submit-search">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </form>
  </div>
  <div class="header-links">
    <span class="open-searchbar">
      <fa-icon [icon]="faSearch" (click)="toggleSearchbar()"></fa-icon>
    </span>
    <div class="dropdown">
      <a [routerLink]="currentUser ? null : '/login'">
        <fa-icon [icon]="faUserCircle"></fa-icon>
      </a>
      <ul *ngIf="currentUser" class="profile-dropdown-menu">
        <li id="user-details-container">
          <span>Hi {{ currentUser.name.split(" ")[0] }}</span
          ><span (click)="logoutUser()" id="sign-out-link">Sign Out</span>
        </li>
        <li>
          <a routerLink="/profile"
            ><fa-icon [icon]="faUser"></fa-icon><span>My Profile</span></a
          >
        </li>
        <li *ngIf="currentUser.isAdmin">
          <a routerLink="/management">
            <fa-icon [icon]="faWrench"></fa-icon><span>Management</span></a
          >
        </li>
      </ul>
    </div>
    <a routerLink="/cart">
      <fa-icon [icon]="faShoppingBasket"></fa-icon>
    </a>
  </div>
  <div [ngClass]="menuOpen ? 'hamburger-menu menu-open' : 'hamburger-menu'">
    <div class="close-hamburger-menu">
      <fa-icon [icon]="faTimes" (click)="toggleMenu()"></fa-icon>
    </div>
    <ul *ngIf="categories$ | async as categories">
      <li *ngFor="let category of categories" (click)="toggleMenu()">
        <a
          [routerLink]="['/products/filter']"
          [queryParams]="{ category: category.name.toLowerCase() }"
          >{{ category.name }}</a
        >
      </li>
    </ul>
  </div>
  <!-- Background modal for hamburger menu -->
  <div [ngClass]="menuOpen ? 'blackout blackout-active' : 'blackout'"></div>
  <div
    [ngClass]="
      searchbarOpen ? 'close-searchbar searchbar-open' : 'close-searchbar'
    "
  >
    <fa-icon [icon]="faTimes" (click)="toggleSearchbar()"></fa-icon>
  </div>
</header>
