<a href="#">
  <div class="product">
    <div class="product-image-container">
      <img class="product-image" src="{{ data.img }}" alt="product" />
    </div>
    <div class="product-details">
      <div class="product-name">
        {{ data.description }}
      </div>
      <div class="product-brand">by {{ data.brand }}</div>
      <div class="product-rating">
        {{ data.rating }} stars ({{ data.numReviews }} reviews)
      </div>
      <span class="product-price">€{{ data.price }}</span>
    </div>
  </div>
</a>
